<div class="contenedor-lista">
    <strong>
        Términos y Condiciones de Clínica Parcial
    </strong><p>
        1. Generalidades Bienvenido a Clínica Parcial. Al utilizar nuestros servicios y acceder a nuestras instalaciones, aceptas cumplir con los siguientes términos y condiciones. Estos términos se aplican a todos los pacientes, visitantes y usuarios de nuestra página web.
    </p><p>    
        2. Servicios Clínica Parcial ofrece servicios de salud de acuerdo con los estándares médicos y éticos vigentes. Todos los servicios se brindan de forma profesional y con el máximo cuidado, pero el paciente es responsable de seguir todas las indicaciones y recomendaciones proporcionadas.
    </p><p>   
        3. Reservas y Cancelaciones Las citas se deben reservar con antelación a través de nuestra página web, por teléfono o en nuestras instalaciones. Las cancelaciones deben realizarse con al menos 24 horas de anticipación para evitar cargos adicionales.
    </p><p>  
        4. Pagos y Facturación El costo de los servicios se informará al paciente al momento de la consulta o tratamiento. El pago se debe realizar al momento de recibir el servicio, y es posible que se requiera un depósito previo para ciertos procedimientos. Clínica Parcial acepta varios métodos de pago, incluidos efectivo, tarjetas de crédito y débito.
    </p><p>
        5. Confidencialidad y Protección de Datos Clínica Parcial se compromete a proteger la confidencialidad de tus datos personales. La información médica es estrictamente confidencial y solo se compartirá en caso de obligación legal o con el consentimiento expreso del paciente.
    </p><p>
        6. Responsabilidad del Paciente El paciente debe proporcionar información veraz sobre su historial médico y cualquier otra información relevante para la prestación de servicios. Clínica Parcial no se responsabiliza por complicaciones derivadas de información falsa u omisión de datos por parte del paciente.
    </p><p>
        7. Limitación de Responsabilidad Clínica Parcial no se hace responsable por pérdidas o daños derivados del uso de sus servicios, excepto en casos de negligencia o incumplimiento comprobado de nuestras obligaciones.
    </p><p>
        8. Modificaciones de los Términos Clínica Parcial se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones se publicarán en nuestra página web y entrarán en vigor inmediatamente.
    </p><p>
        9. Contacto Para cualquier consulta sobre nuestros términos y condiciones, puedes contactarnos en nuestra sede o a través de nuestros canales de atención.
    </p>
</div>

<button (click)="verProfesionales()">Listado de Profesionales</button>