<div class="contenedor-lista">



<p>PROFESIONALES ACTIVOS</p>

<div class="contenedor-lista">
    <div class="lista-elemento">
        <strong>Especialidad</strong>
        <strong>Nombre</strong>
        <strong>DNI</strong>
        <strong>Email</strong>
        <p></p>
    </div>

    <div *ngFor="let usuarioP of usuariosActivos; let i = index" class="lista-elemento">

        <span class="turno_horario">{{ usuarioP.especialidad }}</span>
        <span class="turno_horario">{{ usuarioP.nombre }} {{ usuarioP.apellido }}</span>
        <span class="turno_horario">{{ usuarioP.dni }}</span>
        <span class="turno_horario">{{ usuarioP.email }}</span>
        <button style="font-size: 15px;" (click)="profesionalHabilitarDeshabilitar(usuarioP.email,-1)">Deshabilitar</button>

    </div>
</div>

<button (click)="exportarPDF()">Exportar Nómina</button>


<p>USUARIOS SIN ACTIVAR</p>

<div class="contenedor-lista">
    <div class="lista-elemento listatipo2">
        <strong>Especialidad</strong>
        <strong>Nombre</strong>
        <strong>DNI</strong>
        <strong>Email</strong>
        <p></p>
        <p></p>
    </div>

    <div *ngFor="let usuarioA of usuariosPendientes; let i = index" class="lista-elemento listatipo2">
        <span class="turno_horario">{{ usuarioA.especialidad }}</span>
        <span class="turno_horario">{{ usuarioA.nombre }} {{ usuarioA.apellido }}</span>
        <span class="turno_horario">{{ usuarioA.dni }}</span>
        <span class="turno_horario">{{ usuarioA.email }}</span>
        <button style="font-size: 15px;" (click)="profesionalHabilitarDeshabilitar(usuarioA.email,1)">Habilitar</button>
        <button style="font-size: 15px;" (click)="profesionalHabilitarDeshabilitar(usuarioA.email,-1)">Eliminar</button>
    </div>

</div>

</div>