<p>USUARIOS SIN ACTIVAR</p>

<div *ngFor="let usuario of usuariosPendientes; let i = index" class="usuario">

    <span><strong></strong> {{ i + 1 }}</span> |
    <span><strong>Nombre:</strong> {{ usuario.nombre }}</span> |
    <span><strong>Apellido:</strong> {{ usuario.apellido }}</span> |
    <span><strong>DNI:</strong> {{ usuario.dni }}</span> |
    <span><strong>Email:</strong> {{ usuario.email }}</span> |
    <span><strong>Rol:</strong> {{ usuario.acceso }}</span> |
    <button (click)="profesionalHabilitarDeshabilitar(usuario.email,usuario.activo)">Activar/Desactivar</button>

</div>

