<p>TURNOS ACEPTADOS</p>

<div *ngFor="let turno of turnosAceptados; let i = index" class="turno">

    <button (click)="turnoRechazar(turno.paciente, turno.especialidad, turno.dia, turno.horario)">Cancelar</button>
    <span>{{ i + 1 }}</span> |
    <span><strong>{{ turno.especialidad }}:</strong></span> |
    <span><strong>Paciente:</strong> {{ turno.paciente }}</span> |
    <span><strong>Dia</strong> {{ turno.dia }}</span> |
    <span><strong>Horario</strong> {{ turno.horario }}</span>

</div>
<button (click)="descargarTurnosCSV()">Descargar Turnos como CSV</button>

<p>TURNOS PENDIENTES</p>

<div *ngFor="let turno of turnosPendientes; let i = index" class="turno">

    <button (click)="turnoAceptar(turno.paciente, turno.especialidad, turno.dia, turno.horario)">Aceptar</button>
    <button (click)="turnoRechazar(turno.paciente, turno.especialidad, turno.dia, turno.horario)">Cancelar</button>
    <span>{{ i + 1 }}</span> |
    <span><strong>{{ turno.especialidad }}:</strong></span> |
    <span><strong>Paciente:</strong> {{ turno.paciente }}</span> |
    <span><strong>Dia</strong> {{ turno.dia }}</span> |
    <span><strong>Horario</strong> {{ turno.horario }}</span>    

</div>