<p>TURNOS</p>

<div *ngFor="let turno of turnosPendientes; let i = index" class="turno">

    <button (click)="turnoAceptar(turno.especialidad, turno.dia, turno.horario)">Aceptar</button>
    <button (click)="turnoRechazar(turno.especialidad, turno.dia, turno.horario)">Cancelar</button>

    <span><strong>{{ obtenerEstado(turno.estado) }}</strong></span> |
    <span>{{ i + 1 }}</span> |
    <span><strong>{{ turno.especialidad }}:</strong></span> |
    <span><strong>Paciente:</strong> {{ turno.paciente }}</span> |
    <span><strong>Dia</strong> {{ turno.dia }}</span> |
    <span><strong>Horario</strong> {{ turno.horario }}</span>
    

</div>