<p>REGISTRO ESTA FUNCIONANDO COMO {{tipoUsuario}}</p>

<p>REGISTRO GENERAL</p>
<form (ngSubmit)="onSubmit()" [formGroup]="formularioGeneral">
  
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text">
    
    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" type="text">
    
    <label for="dni">DNI:</label>
    <input id="dni" formControlName="dni" type="number">

    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email">
    
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password">
    
    <label for="foto">Foto:</label>
    <input type="file" id="foto" (change)="fotoSeleccionada($event)">
        
    <button type="submit" *ngIf="tipoUsuario !== 'Profesional'">Registrarse</button>
</form>

<div *ngIf="tipoUsuario === 'Profesional'">
    <form (ngSubmit)="onSubmit()" [formGroup]="formularioProfesional">

      <label for="especialidad">Especialidad:</label>
      <select id="especialidad" formControlName="especialidad">
        <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
      </select>
      
      <label for="diasAtencion">Días de Atención:</label>
      <div id="diasAtencion">
        <div *ngFor="let dia of dias; let i = index">
          <input type="checkbox" [value]="dia" (change)="onDiaChange($event)">{{ dia }}

          <label for="inicioAtencion-{{i}}">desde:</label>
          <div id="InicioAtencion">
            <select id="inicioAtencion-{{i}}" [(ngModel)]="inicioSeleccionado" (change)="onInicioAtencionChange($event, dia)">
              <option *ngFor="let inicio of horarios" [value]="inicio">{{ inicio }}</option>
            </select>
          </div>

          <label for="finAtencion-{{i}}">hasta:</label>
          <div id="finAtencion">
            <select id="finAtencion-{{i}}" [(ngModel)]="finSeleccionado" (change)="onFinAtencionChange($event, dia)">
              <option *ngFor="let fin of horariosfin" [value]="fin">{{ fin }}</option>
            </select>
          </div>

        </div>
      </div>
      
      <label for="fotoEsp">Foto de Especialidad:</label>
      <input type="file" id="fotoEsp" (change)="fotoEspSeleccionada($event)">

      <button type="submit">Registrarse</button>
    </form>
</div>