<p>BIENVENIDO A LA CLINICA MEDICA</p>

<div *ngIf="tipoUsuarioActivo === 'Invitado'">
    <p>DEBE INICIAR SESIÓN PARA CONTINUAR</p>
    <select [(ngModel)]="selectedTipoUsuario">
        <option value="" disabled selected>Seleccione tipo de usuario</option>
        <option value="Paciente">Paciente</option>
        <option value="Profesional">Profesional</option>
        <option value="Gerente">Gerente</option>
    </select>
    <button (click)="irAyuda()">Ayuda</button>
    
    <div *ngIf="selectedTipoUsuario">
        <button (click)="irIngreso()">Ingresar</button>
        <button (click)="irRegistro()">Registrarse</button>
    </div>
</div>

<div *ngIf="tipoUsuarioActivo === 'Paciente'">
    <p>Bienvenido {{ alias }} (paciente)</p>
    <button (click)="irDatosPersonales()">Ver mis Datos</button>
    <button (click)="irTurnos()">Ver mis Turnos</button>
    <button (click)="irAyuda()">Ayuda</button>
    <button (click)="salir()">Cerrar Sesion</button>
</div>

<div *ngIf="tipoUsuarioActivo === 'Profesional'">
    <p>Bienvenido {{ alias }} (profesional)</p>
    <button (click)="irDatosPersonales()">Ver mis Datos</button>
    <button (click)="irTurnosProfesional()">Gestionar mis Turnos</button>
    <button (click)="irAyuda()">Ayuda</button>
    <button (click)="salir()">Cerrar Sesion</button>
</div>

<div *ngIf="tipoUsuarioActivo === 'Gerente'">
    <p>Bienvenido {{ alias }} (gerente)</p>
    <button (click)="irDatosPersonales()">Ver mis Datos</button>
    <button (click)="irGestionUsuarios()">Gestionar Usuarios</button>
    <button (click)="irGestionTurnosGerente()">Gestionar Turnos</button>
    <button (click)="irAyuda()">Ayuda</button>
    <button (click)="salir()">Cerrar Sesion</button>
</div>





