<div [ngSwitch]="usuarioActivo.acceso" class="menu">

    <button (click)="inicio()">Inicio</button>

    <div *ngSwitchCase="0">
        <button (click)="espera()">Contacto</button>
    </div>

    <div *ngSwitchCase="1">
        <button (click)="misDatos()">MisDatos</button>
        <button (click)="misTurnos()">Turnos</button>
    </div>

    <div *ngSwitchCase="2">
        <button (click)="misDatos()">MisDatos</button>
        <button (click)="gestionarTurnos()">Turnos</button>
    </div>

    <div *ngSwitchCase="3">
        <button (click)="misDatos()">Mis Datos</button>
        <button (click)="gestionarTurnosG()">Turnos</button>
        <button (click)="gestionarUsuariosG()">Usuarios</button>
    </div>

    <button (click)="ayuda()">Ayuda</button>

    <div *ngSwitchCase!="0">
        <button (click)="salir()">Salir</button>
    </div>

</div>