<p>TURNOS DISPONIBLES</p>
<div *ngFor="let turno of turnosDisponibles; let i = index" class="turno">
    <button (click)="solicitarTurno(emailPaciente,turno.especialidad,turno.dia,turno.horario,turno.profesional)">Solicitar</button> |
    <span><strong></strong> {{ i + 1 }}</span> |
    <span><strong>Especialidad:</strong> {{ turno.especialidad }}</span> |
    <span><strong>Día:</strong> {{ turno.dia }}</span> |
    <span><strong>Horario:</strong> {{ turno.horario }}</span> |
    <span><strong>Profesional:</strong> {{ turno.profesional }}</span>
    
</div>