<p>TURNOS A VALORAR</p>

<div class="contenedor-lista">
    <div *ngFor="let turno of turnosFinalizados; let i = index" class="lista-elemento">

        <select [(ngModel)]="calificaciones[i]" aria-label="Selecciona calificación">
            <option *ngFor="let calificacion of [1, 2, 3, 4, 5]" [value]="calificacion">
                {{ calificacion }}
            </option>
        </select>
    
        <button (click)="valorar(turno, calificaciones[i])">Valorar</button>
        <span>{{ turno.especialidad }}</span>
        <span>{{ turno.dia }} - {{ turno.horario }}</span>
        <span>{{ turno.profesional }}</span>
    </div>
</div>
