* {
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: #ADD8E6;
  }

  button {
    background-color: #F5F5DC;
  }
  
  button:hover {
    background-color: #E6E6D6;
  }  
