.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .fotousuario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imagen_dinamica {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .informacionusuario {
    text-align: center;
  }