<div class="filtros">
    <label for="especialidad">Especialidad:</label>
    <select id="especialidad" [(ngModel)]="filtroEspecialidad" (change)="cambiarFiltro()">
      <option value="">Todas</option>
      <option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</option>
    </select>
  </div>
  
  <p>LISTADO DE PROFESIONALES</p>
  <p *ngIf="!alMenosUnFiltroSeleccionado()">Por favor, selecciona la especialidad para comparar profesionales.</p>
  
  <div *ngIf="alMenosUnFiltroSeleccionado()">
    <div *ngFor="let usuarioP of profesionalesFiltrados; let i = index" class="contenedor">
      <div class="datos-usuario">
        <img *ngIf="usuarioP.foto" [src]="'data:image/png;base64,' + usuarioP.foto" alt="Foto de {{ usuarioP.nombre }}" class="imagen_dinamica">
        <div class="informacion">
          <p>{{ usuarioP.nombre + ' ' + usuarioP.apellido}}</p>
          <p><strong>Especialidad:</strong> {{ usuarioP.especialidad }}</p>
          <p><strong>Días Atención:</strong> {{ usuarioP.diasAtencion }}</p>
          <p><strong>Calificación Usuarios:</strong> {{ usuarioP.puntuacion }}</p>
        </div>
      </div>
    </div>
  
    <div style="display: block; width: 50%; height: 300px; margin: 0 auto;">
      <canvas baseChart
              [data]="barChartData"
              [type]="barChartType"
              [options]="barChartOptions">
      </canvas>
    </div>
  </div>